.weather {
  margin: 0;
  border: 1px solid #dadce0;
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}
.weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
  font-weight: 520;
}
.weather ul {
  list-style: none;
  padding-left: 0;
}
.weather img {
  display: inline-block;
  line-height: 56px;
  vertical-align: middle;
}
.weather .temperature {
  font-family: Google Sans, Arial, sans-serif;
  font-weight: 400;
  color: #202124;
  font-size: 48px;
  line-height: 56px;
  vertical-align: middle;
}
.weather .unit {
  position: relative;
  line-height: 1;
  top: -15px;
}
